@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap");
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  font-family: "Skranji", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}
section {
  max-width: 40rem;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}
li {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-block: 0.5rem;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav .cl-avatarBox {
  width: 3rem;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.hero {
  position: relative;
  width: 100%;
  background: url("https://funtails.de/wp-content/uploads/2022/09/feed-the-kraken-mobile-background-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50svh;
}
.hero img {
  position: absolute;
  width: 50%;
  top: 1rem;
  left: 1rem;
}

.btn {
  border-radius: 0.5rem;
  border: 1px solid;

  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
  background-color: royalblue;
  color: white;
}

.btn-delete {
  position: fixed;
  top: 6rem;
  right: 1rem;
  color: red;
}

.btn-leave {
  position: fixed;
  top: 6rem;
  left: 1rem;
  transform: scaleX(-1);
  color: red;
}

.btn-event {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: yellow;
  color: #333;
}

.choose-event {
  position: fixed;
  bottom: 5rem;
  right: 0rem;
  width: 200px;
}

.btn:hover {
  background-color: red;
  color: white;
}

.icon {
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/*game room*/

.game-room-list {
  max-width: 640px;
  width: 100%;
  padding: 1rem;
}

.game-room-list .game-room-list-item {
  justify-content: space-between;
}

.modle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background-color: #ffffff;
}

.custom-toast {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #fff;
  color: #363636;
  line-height: 1.3;
  will-change: transform;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
  max-width: 350px;
  pointer-events: auto;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  animation: 0.35s cubic-bezier(0.5, 1.5, 1, 1) 0s 1 normal forwards running custom-animation;
}

.custom-toast .exit {
  animation: 0.35s cubic-bezier(0.06, 0.71, 0.55, 1) 0s 1 normal forwards running
    custom-exit-animation;
}

@keyframes custom-animation {
  0% {
    transform: translate3d(0, -200%, 0) scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}
