@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap");
:root {
  --blue: #47a5cb;
  --red: #984141;
  --yellow: #cab81b;

  --border-radius: 0.5rem;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  font-family: "Skranji";
  /* font-weight: 400; */
  letter-spacing: 1px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}
section {
  padding-block-start: 6rem;
  width: 100%;
  padding-inline: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}

form {
  max-width: 600px;
  width: 100%;
  margin-inline: auto;
}

form .btn {
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}
li {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
input,
select {
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-block: 0.5rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  z-index: 1;
}
nav .cl-avatarBox {
  width: 3rem;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    aspect-ratio: 2.33;
  }
}

.hero {
  position: relative;
  width: 100vw;
}

.hero .img {
  display: block;
  width: 100%;
  height: 100svh;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3333338b;
  color: #fff;
}

.btn {
  display: block;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
  background-color: var(--blue);
  color: #333;
}

.btn:disabled {
  cursor: not-allowed;
}
.btn:disabled:hover {
  background-color: var(--blue);
}

.btn-delete {
  color: var(--red);
  cursor: pointer;
}

.btn-leave {
  position: fixed;
  top: 6rem;
  left: 1rem;
  transform: scaleX(-1);
  color: var(--red);
}

.btn-event {
  position: fixed;
  bottom: 1rem;
  right: 0;
  width: 100%;
  background-color: var(--yellow);
  color: #333;
}

.btn:hover {
  background-color: var(--red);
  color: #fff;
}

.icon {
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/*game room*/

.game-room-list {
  max-width: 640px;
  width: 100%;
  padding: 1rem;
  margin-inline: auto;
}

.game-room-list .game-room-list-item {
  justify-content: space-between;
}

.game-room-list .game-room-list-item span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.modle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100vw;
  height: 100svh;
  background-color: rgb(var(--background-start-rgb));
}

.modle ul {
  max-width: 30rem;
  width: 100%;
}

.custom-toast {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #fff;
  color: #363636;
  line-height: 1.3;
  will-change: transform;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
  max-width: 350px;
  pointer-events: auto;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  animation: 0.35s cubic-bezier(0.5, 1.5, 1, 1) 0s 1 normal forwards running custom-animation;
}

.custom-toast .exit {
  animation: 0.35s cubic-bezier(0.06, 0.71, 0.55, 1) 0s 1 normal forwards running
    custom-exit-animation;
}

.current-player {
  position: fixed;
  top: 6rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.current-player > * {
  margin: 0;
}

.current-player-img-wrapper {
  position: relative;
  width: 72px;
  height: 72px;
}
.current-player-img-wrapper img {
  width: 100%;
  border-radius: 50%;
}
.cult {
  border: 5px solid var(--yellow);
}
.sailor {
  border: 5px solid var(--blue);
}
.pirate {
  border: 5px solid var(--red);
}

.gun-counter {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  font-size: 1.2rem;
}

@keyframes custom-animation {
  0% {
    transform: translate3d(0, -200%, 0) scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@media only screen and (min-width: 769px) {
}
